<!-- app/views/company_mailer/approval_notification.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your KYC Request Has Been Approved</h1>
  <p>Your KYC request has been approved. You can now log in to the platform using the following credentials:</p>
  <p>Email: <%= @email %></p>
  <p>Password: <%= @password %></p>
  <p>Please login to the platform and change your password immediately after logging in.</p>
</body>
</html>
